<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li><a href="~/home/index"><span class="glyphicon glyphicon-dashboard sidebaricon"></span>Dashboard</a></li>

        <li><a href="#users-menu" class="nav-header" data-toggle="collapse"><span class="glyphicon glyphicon-user sidebaricon"></span>Users<span class="glyphicon glyphicon-chevron-down icon"></span><span class="glyphicon glyphicon-chevron-right chevron"></span></a>
        <ul id="users-menu" class="nav nav-list collapse">
            <li><a href="~/user/create">Add User</a></li>
            <li><a href="~/user/index">Users List</a></li>
        </ul> 
        </li>
        <li><a href="#roles-menu" class="nav-header" data-toggle="collapse"><span class="glyphicon glyphicon-registration-mark sidebaricon"></span>Roles<span class="glyphicon glyphicon-chevron-down icon"></span><span class="glyphicon glyphicon-chevron-right chevron"></span></a>
        <ul id="roles-menu" class="nav nav-list collapse">
            <li><a href="~/role/create">Add Role</a></li>
            <li><a href="~/role/index">Roles List</a></li>
        </ul> 
        </li>
        <li><a href="#regions-menu" class="nav-header" data-toggle="collapse"><span class="glyphicon glyphicon-globe sidebaricon"></span>Regions<span class="glyphicon glyphicon-chevron-down icon"></span><span class="glyphicon glyphicon-chevron-right chevron"></span></a>
        <ul id="regions-menu" class="nav nav-list collapse">
            <li><a href="~/region/create">Add Region</a></li>
            <li><a href="~/region/index">Regions List</a></li>
        </ul> 
        </li>
        <li><a href="#categories-menu" class="nav-header" data-toggle="collapse"><span class="glyphicon glyphicon-tags sidebaricon"></span>Categories<span class="glyphicon glyphicon-chevron-down icon"></span><span class="glyphicon glyphicon-chevron-right chevron"></span></a>
        <ul id="categories-menu" class="nav nav-list collapse">
            <li><a href="~/category/create">Add Category</a></li>
            <li><a href="~/category/index">Categories List</a></li>
        </ul> 
        </li>
        <li><a href="#addresses-menu" class="nav-header" data-toggle="collapse"><span class="glyphicon glyphicon-map-marker sidebaricon"></span>Addressess<span class="glyphicon glyphicon-chevron-down icon"></span><span class="glyphicon glyphicon-chevron-right chevron"></span></a>
        <ul id="addresses-menu" class="nav nav-list collapse">
            <li><a href="~/address/create">Add Address</a></li>
            <li><a href="~/address/index">Addresses List</a></li>
        </ul> 
        </li>
        <li><a href="#ads-menu" class="nav-header" data-toggle="collapse"><span class="glyphicon glyphicon-folder-open sidebaricon"></span>Ads<span class="glyphicon glyphicon-chevron-down icon"></span><span class="glyphicon glyphicon-chevron-right chevron"></span></a>
        <ul id="ads-menu" class="nav nav-list collapse">
            <li><a href="~/entity/create">Add Ad</a></li>
            <li><a href="~/entity/index">Ads List</a></li>
        </ul> 
        </li>
        <li><a href="~/media/index"><span class="glyphicon glyphicon-film sidebaricon"></span>Media</a></li>
        <li><a href="~/bid/index"><span class="glyphicon glyphicon-usd sidebaricon"></span>Bids</a></li>
    </ul>
</div>